{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{/* Get the current page's URL so we can compare it to the list below */}}
{{ $currentPageUrl := .URL }}
{{/* Get a list of this section's other pages. "RegularPages" excludes the list page    */}}
{{ $currentSection := where .Data.Pages "Section" .Section }}

  <div class="bg-transparent shadow-1">

  </div>
  <div class="flex flex-column textpage_bg2">
    {{ if in $currentPageUrl "team" }}
      <div class="cf mv3 center_content center flex flex-row justify-between items-start flex-wrap">
        {{ range $.Site.Data.team }}
           {{ partial "usercard.html" . }}
        {{ end }}
      </div>
    {{end}}
    {{ if .Content }}
    <article class="cf mv3 center_content center bg-white">
      {{ if .Params.text_image }}<img src="{{ $.Site.BaseURL }}{{ .Params.text_image }}">{{ end }}
      <div class="nested-copy-line-height lh-copy f4 pv4 nested-links nested-img mid-gray w-80 center text_page">
        {{ .Content }}
      </div>
    </article>
    {{ end }}
  </div>
{{ end }}
