{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}

{{/* Get the current page's URL so we can compare it to the list below */}}
{{ $currentPageUrl := .URL }}

  <div class="bg-transparent">
    {{ partial "menu-contextual.html" . }}
  </div>
  <div class="flex flex-column textpage_bg">
    {{ if eq $currentPageUrl "/team/" }}
      <div class="cf mv3 center_content center flex flex-row-l flex-column-m flex-column-ns justify-between items-start flex-wrap">
        {{ range .Pages }}
           {{ partial "usercard.html" . }}
        {{ end }}
      </div>
    {{end}}
    {{ if eq $currentPageUrl "/join/" }}
      <div class="cf mv3 center_content center flex flex-row-l flex-column-m flex-column-ns justify-between items-start flex-wrap">
        {{ range .Pages }}
           {{ partial "joinuscard.html" . }}
        {{ end }}
      </div>
    {{end}}
    {{ if .Content }}
    <article class="cf mv3 center_content center bg-white {{ if or (eq $currentPageUrl "/request-access/") (eq $currentPageUrl "/vacancy-form/") }} form_page{{ end }}">
      {{ if .Params.text_image }}<img src="{{ $.Site.BaseURL }}{{ .Params.text_image }}">{{ end }}
      <div class="nested-copy-line-height lh-copy f4 pv4 nested-links mid-gray w-80-l w-80-m w-90-ns center text_page">
        {{ if in $currentPageUrl "/team/" }}  <a href="/team/">BACK</a>{{ end }}
        {{ if in $currentPageUrl "/team/" }} {{ partial "profile.html" . }} {{ end }}
        {{ .Content }}
      </div>
    </article>
    {{ end }}
  </div>
{{ end }}
