{{ $.Scratch.Add "labelClasses" "db mb1 mt3" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-white" }}

<div ng-controller="MainCtrl as ctrl">
    <div ng-if="!ctrl.complete">
        <form class="black-80 w-70 center form" name="ctrl.acces_form">

            <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Your name</label>
            <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}" placeholder=" "  aria-labelledby="name" ng-model="ctrl.data.name"/>

            <label class="{{ $.Scratch.Get "labelClasses" }}" for="email"><span class="red">*</span> Email Address</label>
            <input type="email" name="email" ng-pattern="/^.+@.+\..+$/" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder="name@mail.com"  aria-labelledby="email" ng-model="ctrl.data.email"/>
            <div ng-messages="ctrl.acces_form.email.$error" class="requirements f6 glow dark-red ph3 overflow-hidden">
                <div ng-message="pattern">Email is invalid</div>
            </div>

            <p>[[ctrl.errorMessage]]</p>

            <div
                vc-recaptcha
                key="'6LfI2i4UAAAAADxXcLkp9MAijRZNvdBeeNDQ2YcL'"
            ></div>

            <input class="f3 br4 db w-40 mv2 white pa3 bn hover-shadow hover-bg-blue bg-animate bg-blue pointer" type="button" value="Send" ng-disabled="ctrl.acces_form.$invalid" ng-click="ctrl.saveRequest()"/>

        </form>
    </div>

    <div ng-if="ctrl.complete">Thank you, we will be contacting you shortly</div>
</div>