{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{/* Get the current page's URL so we can compare it to the list below */}}
{{ $currentPageUrl := .URL }}
{{/* Get a list of this section's other pages. "RegularPages" excludes the list page    */}}

{{if isset .Params "group" }}
  <div class="bg-transparent">
    <ul class="flex flex-row justify-center center_content center submenu">
      {{ range where $.Site.Home.Sections "Params.group" .Params.group }}
        <li class="list f6 fw2 ttu pv2 db{{ if eq $currentPageUrl .URL}} active_item{{end}}">
          {{/* If the URL returned is the same as the current URL dim it so we know that that's the page we're on. NOTE: Should probably use a more accessible way of displaying this. */}}
          <a href="{{ .URL | absLangURL }}" class="no-underline db br pv1 ph3 white ">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
  <div class="flex flex-column textpage_bg {{ if or (in $currentPageUrl "/team/") (in $currentPageUrl "/advisors/") (in $currentPageUrl "join")}}blue{{end}}">
    {{ if or (in $currentPageUrl "team") (in $currentPageUrl "advisors") }}
      <div class="cf mv3 center_content center flex flex-row-l flex-row-m flex-column-ns justify-start-l justify-start-m justify-between-ns items-start flex-wrap">
        {{ range .Pages }}
           {{ partial "usercard.html" . }}
        {{ end }}
      </div>
    {{end}}
    {{ if in $currentPageUrl "join" }}
      <div class="cf mv3 center_content center flex flex-row-l flex-row-m flex-column-ns justify-start-l justify-start-m justify-between-ns items-start flex-wrap">
        {{ range .Pages }}
           {{ partial "joinuscard.html" . }}
        {{ end }}
      </div>
    {{end}}
    {{ if .Content }}
    <article class="cf mv3 center_content center bg-white">
      {{ if .Params.text_image }}<img src="{{ $.Site.BaseURL }}{{ .Params.text_image }}">{{ end }}
      <div class="f4 text_page">
        {{ .Content }}
      </div>
    </article>
    {{ end }}
  </div>
{{ end }}

