{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="bg-transparent">
    {{ partial "menu-contextual.html" . }}
  </div>
  <div class="flex flex-column textpage_bg 2">
    {{ if .Content }}
    {{ $currentPageUrl := .URL }}
    <article class="cf mv3 center_content center bg-white {{ if or (in $currentPageUrl "/request-access/") (in $currentPageUrl "/vacancy-form/") }} form_page{{ end }}">
      {{ if .Params.text_image }}<img src="{{ $.Site.BaseURL }}{{ .Params.text_image }}">{{ end }}
      <div class="nested-copy-line-height lh-copy f4 pv4 nested-links mid-gray text_page">
        {{ if in $currentPageUrl "team" }}  <a href={{ "/team/" | absLangURL }}><span class="arrow_back">{{ partial "svg/arrow_back.svg"}}</span>BACK</a>{{ end }}
        {{ if in $currentPageUrl "advisors" }}  <a href={{ "/advisors/" | absLangURL }}><span class="arrow_back">{{ partial "svg/arrow_back.svg"}}</span>BACK</a>{{ end }}
        {{ if in $currentPageUrl "vacancy" }}  <a href={{ "/join/" | absLangURL }}><span class="arrow_back">{{ partial "svg/arrow_back.svg"}}</span>BACK</a>{{ end }}
        {{ if or (in $currentPageUrl "team") (in $currentPageUrl "advisors") }} {{ partial "profile.html" . }} {{ end }}
        {{ .Content }}
      </div>
    </article>
    {{ end }}
  </div>
{{ end }}
