{{ $about_bg := .Params.about_bg }}
<div class="about cover bg-center relative main_page_text">
	<div class="flex flex-row flex-column-ns justify-between items-center center_content center tl">
		<div class="about_item pr3 pv3 w-40-l w-40-m w-90-ns">
			<div class="about_icon"><img src="{{ $.Site.BaseURL }}/images/4-05.png"></div>
			<div class="about_header pv3 f3">Businesses</div>
			<div class="about_text"></div>
		</div>
		<div class="about_item pr3 pv3 w-40-l w-40-m w-90-ns">
			<div class="about_icon"><img src="{{ $.Site.BaseURL }}/images/4-04.png"></div>
			<div class="about_header pv3 f3">Users</div>
			<div class="about_text"></div>
		</div>
	</div>
	<div class="flex flex-row flex-column-ns justify-between items-center center_content center tl">
		<div class="about_item pr3 pv3 w-40-l w-40-m w-90-ns">
			<div class="about_icon"><img src="{{ $.Site.BaseURL }}/images/4-07.png"></div>
			<div class="about_header pv3 f3">Blockchain Community </div>
			<div class="about_text"></div>
		</div>
		<div class="about_item pr3 pv3 w-40-l w-40-m w-90-ns">
			<div class="about_icon"><img src="{{ $.Site.BaseURL }}/images/4-06.png"></div>
			<div class="about_header pv3 f3">Developers</div>
			<div class="about_text"></div>
		</div>
	</div>
</div>