{{ $about_bg := .Params.about_bg }}
<div class="about cover bg-center relative main_page_text">
	<div class="flex flex-row flex-column-ns justify-between items-center center_content center tl">
		<div class="about_item pr3 pv3 w-40-l w-40-m w-90-ns">
			<div class="about_icon"><a href={{ "/how" | absLangURL }}>{{ partial "svg/how.svg" }}</a></div>
			<div class="about_header pv3 f2"><a href={{ "/how" | absLangURL }}>How?</a></div>
			<div class="about_text"><a href={{ "/how" | absLangURL }}>By tokenizing services, Hashback creates trust without 3rd party expenses, totally reinvents the service economy, pays service providers who use it, and reforms loyalty and quality control.</a>
</div>
		</div>
		<div class="about_item pr3 pv3 w-40-l w-40-m w-90-ns">
			<div class="about_icon"><a href={{ "/who" | absLangURL }}>{{ partial "svg/who.svg" }}</a></div>
			<div class="about_header pv3 f2"><a href={{ "/who" | absLangURL }}>Who?</a></div>
			<div class="about_text"><a href={{ "/who" | absLangURL }}>Any service provider with short term accommodation, rental, lease or intermittent services that fights for steady orders can generate an entirely new revenue stream by simply listing their services with us.</a>
</div>
		</div>
	</div>
	<div class="flex flex-row flex-column-ns justify-between items-center center_content center tl">
		<div class="about_item pr3 pv3 w-40-l w-40-m w-90-ns">
			<div class="about_icon"><a href={{ "/when" | absLangURL }}>{{ partial "svg/when.svg" }}</a></div>
			<div class="about_header pv3 f2"><a href={{ "/when" | absLangURL }}>When?</a></div>
			<div class="about_text"><a href={{ "/when" | absLangURL }}>Before the ITG, service providers can accumulate early revenue generation momentum that pays out at launch. The earlier you start the more your tokens will be worth.</a></div>
		</div>
		<div class="about_item pr3 pv3 w-40-l w-40-m w-90-ns">
			<div class="about_icon"><a href="/why"{{ "/why" | absLangURL }}>{{ partial "svg/why.svg" }}</a></div>
			<div class="about_header pv3 f2"><a href="/why"{{ "/why" | absLangURL }}>Why?</a></div>
			<div class="about_text"><a href="/why"{{ "/why" | absLangURL }}>The blockchain presents a game changing economic revolution through the shared economy and Hashback wants to use this opportunity to shift the odds back in favor of those who have been impaired by traditional economic restrictions.</a></div>
		</div>
	</div>
</div>