{{ $about_bg := .Params.about_bg }}
<div class="about cover bg-center relative main_page_text" style="background-image: url('{{ $about_bg }}');">
	<div class="flex flex-row flex-column-ns justify-between items-center center_content center tl">
		<div class="about_item pr3 pv3 w-40">
			<div class="about_icon"><img src="{{ $.Site.BaseURL }}/images/4-05.png"></div>
			<div class="about_header pv3 f3">Businesses</div>
			<div class="about_text">Draw attention to your value or improve it, magnify exposure and visibility, directly reward loyal followers, endorse yourself, and simplify personalized interaction with customers or fans.</div>
		</div>
		<div class="about_item pr3 pv3 w-40">
			<div class="about_icon"><img src="{{ $.Site.BaseURL }}/images/4-04.png"></div>
			<div class="about_header pv3 f3">Users</div>
			<div class="about_text">Write reviews for anything that has a phone number, email, website or location, rate your reviews in tokens, have them claimed, get rewarded, and be an integral part in growing the blockchain community.</div>
		</div>
	</div>
	<div class="flex flex-row justify-between items-center center_content center tl">
		<div class="about_item pr3 pv3 w-40">
			<div class="about_icon"><img src="{{ $.Site.BaseURL }}/images/4-07.png"></div>
			<div class="about_header pv3 f3">Blockchain Community </div>
			<div class="about_text">Users can compel anyone, even those who are unfamiliar with what a blockchain is or how it works, to interact with, grow and adopt the public blockchain.</div>
		</div>
		<div class="about_item pr3 pv3 w-40">
			<div class="about_icon"><img src="{{ $.Site.BaseURL }}/images/4-06.png"></div>
			<div class="about_header pv3 f3">Developers</div>
			<div class="about_text">Develop on top of Hashback tokens, build user interfaces, empower search, create rating solutions, connect to payment systems, design loyalty and rewards programs including comprehensive cash back, discount, referral and feedback, etc.</div>
		</div>
	</div>
</div>