{{ $orders_bg := .Params.orders_bg }}
<div class="orders cover bg-top relative main_page_text"><!-- bg-center-l bg-center-m  -->
	<div class="flex flex-row flex-column-ns justify-between center_content center tc">
		<div class="orders_item js_clickable_item center-ns" data-link={{ "/hashbackers/" | absLangURL }}>
			{{ partial "svg/1.svg" }}
			<div class="flex flex-column justify-between center tc absolute top-2-l top-1-m top-1-ns w-100 orders_content">
				<div class="orders_icon center"><img src="{{ $.Site.BaseURL }}/images/3-01.png"></div>
				<div class="orders_header center"><h3 class="f2 f4-m f2-ns">Hashbackers</h3><p class="f4 f5-m f4-ns">convertible pre-ITG program</p></div>
				<div class="rounded_button center"><a href={{ "/hashbackers/" | absLangURL }}>Learn more</a></div>
			</div>
		</div>
		<div class="orders_item js_clickable_item center-ns" data-link={{ "/advisors/" | absLangURL }}>
			{{ partial "svg/3.svg" }}
			<div class="flex flex-column justify-between center tc absolute top-2-l top-1-m top-1-ns w-100 orders_content">
				<div class="orders_icon center"><img src="{{ $.Site.BaseURL }}/images/3-03.png"></div>
				<div class="orders_header f3 center"><h3 class="f2 f4-m f2-ns">Team</h3><p class="f4 f5-m f4-ns">join the journey and get rewarded</p></div>
				<div class="rounded_button center"><a href={{ "/advisors/" | absLangURL }}>Learn more</a></div>
			</div>
		</div>
		<div class="orders_item js_clickable_item center-ns" data-link={{ "/partner-mine/" | absLangURL }}>
			{{ partial "svg/2.svg" }}
			<div class="flex flex-column justify-between center tc absolute top-2-l top-1-m top-1-ns w-100 orders_content">
				<div class="orders_icon center"><img src="{{ $.Site.BaseURL }}/images/3-02.png"></div>
				<div class="orders_header f3 center"><h3 class="f2 f4-m f2-ns">Partner Mine</h3><p class="f4 f5-m f4-ns">list your services over Hashback to mine new revenue.</p></div>
				<div class="rounded_button center"><a href={{ "/partner-mine/" | absLangURL }}>Join us</a></div>
			</div>
		</div>
	</div>
	<div class="absolute white additional_text w-100">
		<p class="center_content pt3 pb0 mt0 mb0 center f3-l f4-m f3-ns">
		<span class="f2-l f3-m f2-ns highlighted_text">Hashback</span> is a decentralized blockchain based “Proof-of-Stage” token that can be used in any services industry where accommodations, reservations, rentals, leasing and rate based services apply and that pays the service provider, builds loyalty, ensures customer satisfaction and empowers quality control without 3rd parties.
		</p>
	</div>
</div>