{{ $featured_image := "/images/header_second.jpg" }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="small_header cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="center_content center">
      <div class="flex flex-row justify-between items-center">
        <a class="pv3" href="/" id="logo_small">{{ partial "svg/logo_small.svg" }}</a>
        {{ partial "site-navigation.html" . }}
      </div>
      <div class="tc ph3 ph4-ns mt2-m mt4-ns">
        <h1 class="f2-m f3-ns f1-l fw2 mb0 pt2 white lh-title ttu">{{ .Title | default .Site.Title }}</h1>
        {{ with .Params.description  }}
          <div class="breadcrumbs fw1 f6 f5-l white measure-wide-l center lh-copy mt4 pt3-m pt3-ns mb0">
            <a href="/">Home</a> / {{ . }}
          </div>
        {{ end }}
      </div>
    </div>
  </header>
