{{ $currentPage := . }}
<nav class="pv3" role="navigation">
  <div>
      {{ if .Site.Menus.submenu.Params.description }}
        <ul class="pl0 mr3 flex flex-row flex-column-m justify-end">
          {{ range .Site.Menus.submenu.Params.description }}
          <li class="list f5 fw4 dib pr4 ttu">
            <a class="no-underline white-90" href="{{ .URL | absLangURL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      <!-- {{ partial "social-follow.html" . }} -->
  </div>
</nav>