{{ $currentPage := . }}
{{ $currentPageUrl := .URL }}
<img id="js_collapsed_button" class="js_collapsed_button button_collapsed_menu absolute right-1 top-1 dn-l" src="{{ $.Site.BaseURL }}/images/menu-circular-button.png">
<nav class="js_collapsed_menu collapsed_menu dn-ns dn-m" role="navigation">
      {{ if .Site.Menus.top }}
        <ul class="pl0 mr3 flex flex-row flex-column-m flex-column-ns justify-end-l justify-start-m justify-start-ns">
          {{ range .Site.Menus.top }}
          <li class="list f5 fw4 dib pr3 ttu{{ if eq $currentPageUrl .URL }} active_item{{end}}">
            <a class="no-underline white-90 pv1" href="{{ .URL | absLangURL }}" title="{{ .Name }} page">
              {{ i18n .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
</nav>
