{{ $footer_image := .Params.footer_image }}
<footer class="cover bottom-0 pr5 pr0-ns pv3 black-90" role="contentinfo" style="background-image: url('{{ $footer_image }}');">
  <div class="flex flex-row-l flex-column-m justify-between center_content center ">
	  <div class="order-0-l order-last-m pb2-ns order-last-ns">
		<h3>Follow us on:</h3>
	  	<ul class="social-follow mv3">
	  		{{ partial "social-follow.html" . }}
	  	</ul>
	  </div>
	  <div class="pb2-ns">
		<h3>For developers:</h3>
	  	<ul class="mv3">
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Introduction</a></li>
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Hashback API</a></li>
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Technical support</a></li>
	  	</ul>
	  </div>
	  <div class="pb2-ns">
		<h3>For business:</h3>
	  	<ul class="mv3">
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Presentation</a></li>
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Join</a></li>
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Benefits</a></li>
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Use cases</a></li>
	  	</ul>
	  </div>
	  <div class="pb2-ns">
		<h3>Project:</h3>
	  	<ul class="mv3">
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">White Paper</a></li>
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Team</a></li>
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Join the team</a></li>
	  		<li class="fl-ns fn-l pr3-ns"><a href="/">Token</a></li>
	  	</ul>
	  </div>
  </div>
  <!-- <div>
	  <a class="f4 fw4 hover-white no-underline black-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
	    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
	  </a>

  </div> -->
</footer>
