{{ $footer_image := "/images/footer_bg.png" }}
{{ $currentPage := . }}
{{ $currentPageUrl := .URL }}
<footer class="cover bottom-0 pv3 black-90" role="contentinfo" style="background-image: url('{{ $footer_image }}');">
  <div class="flex flex-row-l flex-column-ns justify-between flex-wrap w-80 center ">
	  <div class="order-0-l pb2-ns mt3 order-last-m order-last-ns w-100-m tc-m tc-ns">
		<h3>Follow us on:</h3>
	  	<ul class="social-follow mv3 overflow-hidden dib">
	  		{{ partial "social-follow.html" . }}
	  	</ul>
	  </div>
  	{{ if .Site.Menus.developers }}
	  <div class="pb2-ns mt3">
		<h3>For developers:</h3>
        <ul class="mv3">
          {{ range .Site.Menus.developers }}
          <li class="fl-ns fn-l pr3-ns{{ if eq $currentPageUrl .URL }} active_item{{end}}">
            <a href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
	  </div>
	{{ end }}
	{{ if .Site.Menus.business }}
	  <div class="pb2-ns mt3">
		<h3>For business:</h3>
	  	<ul class="mv3">
          {{ range .Site.Menus.business }}
          <li class="fl-ns fn-l pr3-ns{{ if eq $currentPageUrl .URL }} active_item{{end}}">
            <a href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
	  </div>
	{{ end }}
	{{ if .Site.Menus.project }}
	  <div class="pb2-ns mt3">
		<h3>Project:</h3>
	  	<ul class="mv3">
	  		{{ range .Site.Menus.project }}
          <li class="fl-ns fn-l pr3-ns{{ if eq $currentPageUrl .URL }} active_item{{end}}">
            <a href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
	  	</ul>
	  </div>
	{{ end }}
  </div>
  <!-- <div>
	  <a class="f4 fw4 hover-white no-underline black-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
	    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
	  </a>

  </div> -->
</footer>
