{{ $icon_size := "32px" }}
{{ $fill := "#ffffff" }}
<div class="card_item user_card flex flex-column justify-between items-start white" data-link="{{ .Permalink }}">
	<h4 class="flex flex-row justify-start items-center"><img src="/images/hash_icon.png"> <span class="white ph2">Hashback {{ .Params.department }}</span></h4>
	<div class="flex flex-row justify-start items-start pv2">
		{{ if  .Params.photo }}<img src="{{ $.Site.BaseURL }}{{ .Params.photo }}" class="avatar">{{end}}
		<div>
			<h3 class="pb3"><a href="{{ .Permalink }}">{{ .Params.name }}</a></h3>
			<p class="f6">{{ .Params.position }}</p>
		</div>
	</div>
	<div class="social_buttons pt4">

	{{ range $key, $value := .Params.social}}
		<a href="{{ $value }}" class="social_item" title={{$key}}>
		{{ $image := (trim $key '"') }}
		{{ partial (print "svg/" $image ".svg") (dict "size" $icon_size "fill" $fill) }}
	    </a>
	{{end}}
	</div>
</div>